main #the-content #calendar-app *{
	position: relative;
	box-sizing: border-box;
	font-size: 1.4rem;
	}
main #the-content #calendar-app p{
	font-size: 1.6rem;
}
main #the-content #calendar-app h2{
font-size: 2.827rem;
margin-top: 7rem;
}
/*=============== subject nav ==============*/
#calendar-app #subjects-offered{padding-left:0;margin-left:0;}
#calendar-app .subject-choice{
	display:inline-block;
	background:none;
	border-radius:.5rem;
	padding:1rem 2rem;
	border:1px solid #ccc;
	font-size: 1.3rem;
	line-height: 2.5rem;
	cursor: pointer;
	color: #aaa;
	margin: 0rem .02rem 1rem;
	vertical-align: top;
	outline:none;
}

#calendar-app .subject-choice svg {
	fill:#ccc;
	color:#fff;
	width:2.5rem;
	height: 2.5rem;
	float: left;
	left:-.5rem;
}
/*=============== week nav ==============*/
#calendar-app #week-nav-wrap{
	margin: 0;
	width:100%;
	display:flex;
	flex-flow:row nowrap;
}
#calendar-app #week-nav-wrap p{
	position: absolute;
	top:-2rem;
	left:50%;
	transform: translateX(-50%);
}
#calendar-app #week-nav-wrap div{
	text-align: center;
	vertical-align: bottom;
	padding:1rem 1rem;
	border-bottom: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
	width:60%;
}
#calendar-app #week-nav-wrap div:first-of-type{
	text-align: right;
	width:20%;
}
#calendar-app #week-nav-wrap div:last-of-type{
	text-align: left;
	width:20%;
}
#calendar-app #week-nav-wrap button{
	background:none;
	padding: 1rem 0;
	display: block;
	width:100%;
	border: none;
	font-size: 1.5rem;
	color: #aaa;
	outline:none;
	box-sizing: border-box;
	border-radius:.5rem;
}
#calendar-app #week-nav-wrap #reset-week{
	width:33%;
	margin:0 auto;
}
#calendar-app #prev-week{text-align: left;}
#calendar-app #next-week{text-align: right;}
#calendar-app #prev-week i{margin-right: .5rem;}
#calendar-app #next-week i{margin-left: .5rem;}


/*=============== subject results ==============*/

#calendar-app .icon-wrap{
	width: 60px;
    height: 60px;
    bottom: 1rem;
    position: relative;
    left: 1rem;
}
#calendar-app .icon-wrap svg{
	width: 100%;
	height: 100%;
}
#calendar-app .subject-results{
	margin: 5rem 0;
    text-align: center;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,.25);
    padding: 5rem;
}

#calendar-app .days-wrap{
	width:100%;
	display: flex;
	flex-flow:row wrap;
}

#calendar-app h3{
	text-align: left;
    font-size: 3.9rem!important;
    font-weight: normal;
    width: calc( 100% - 100px);
    padding: 0px 3rem 1rem 2.25rem;
    margin: 0;
	box-sizing: border-box;
}
#calendar-app  h3::first-letter{
	text-transform: uppercase;
}
#calendar-app h4{
	margin: .6rem;
	font-size: 2.rem;
	color:#bcbcbc;
}
#calendar-app h4 span{
	display: block;
}
#calendar-app div.days{
	padding-bottom: 1rem;
	width:20%;
}
#calendar-app div.days:nth-child(odd){
	background:#f1f1f1;
}
#calendar-app .days ul,#calendar-app .days li{
	list-style:none;
	text-align: center;
	padding: 0;
	display: block;
	width: auto;
}

#calendar-app div.days li{
	margin-bottom: 1rem;
	line-height: 1.8rem;
}

/*=============== MOBILE ==============*/

@media all and (max-width:992px){

	#calendar-app .days-wrap{
		flex-flow: row wrap;
		width: 100%;
		margin-left: 0;
	}

	#calendar-app div.days{
		width: 100%;
	}
	#calendar-app h4 span{
		display: inline-block;
		padding-left: .5rem;
	}
}
@media all and (max-width:768px){
	main #the-content #calendar-app *{
		font-size: 1.6rem;
	}
	#calendar-app .subject-choice{
		padding: 2rem 3rem;
		margin: .5rem;
	}
}
/*=============== interactions ==============*/

#calendar-app .subject-choice:hover{
	background: #ccc;
	border: 1px solid #aaa;
	color:#fff;
	outline:none;
}

#calendar-app .subject-choice:active{
	background: #e5d9bd;
	color:#ba1c21;
	border: 1px solid #aaa;
	outline:none;
}

#calendar-app .active-subject{
	background: #f1f1f1;
	outline:none;
}
#calendar-app *:focused{outline:none;}

#calendar-app .subject-choice:hover svg{
	fill:#fff;
}
#calendar-app .subject-choice:active svg{
	fill:#ba1c21;
}
#calendar-app #week-nav-wrap button:hover{
	color:#ba1c21;
}
#calendar-app #week-nav-wrap button:active{
	background:#ba1c21;
	color: #fff;
}
